.amazon-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  display:grid;
  grid-template-columns:180px minmax(0,800px) 220px ;
  row-gap:10px;
  grid-template-areas:
  "logo-area search-area account-details-area";
  justify-content: space-between;
  align-items: center;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  gap:0.5rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
}
.amazon-header *{
  margin: 0;
}

.amazon-header-left-section {
  /* width: 180px; */
  grid-area: logo-area;
}
.account-details{
  display:grid;
  padding-top:0.5em;
  border: 1px solid rgba(0, 0, 0, 0);
  margin:0;
}
.account-details .account{
  margin-top:-0.25em;
}
.account-details:hover{
  border: 1px solid white;
  cursor: pointer;
}
.account-details .name{
  font-size: 0.7rem;
  white-space: nowrap;
  margin-top: auto;
  font-weight: 100;
}
.account-details .account-more-details{
  display:none;
  position: absolute;
  top:62px;
  right:0;
  height: 60px;
  width:250px;
  background-color: #fff;
  padding:0.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.account-details .account-more-details::after{
  content:"";
  position: fixed;
  z-index: -1;
  inset:0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
}
.account-details:hover .account-more-details,.account-details:focus-within .account-more-details{
  display:flex;
}
.account-details a{
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  width:200px;
  padding: 4px 8px;
  text-decoration: none;
  text-align: center;
}
.account-details a:hover{
  background-color: rgb(247, 202, 0);
  border: 1px solid rgb(242, 194, 0);
}
.account-details a:active{
  background: rgb(255, 216, 20);
  border-color: rgb(252, 210, 0);
  box-shadow: none;
}
@media (max-width: 800px) {
  .amazon-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 3px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.amazon-logo {
  width: 100px;
  margin-top: 5px;
}

.amazon-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
  .amazon-header {
    grid-template-columns:1fr 1fr ;
    column-gap:10px;
    row-gap: 10px;
    height: 120px;
    grid-template-areas:
    "logo-area  account-details-area"
    "search-area search-area";
    grid-template-rows: auto auto;
    align-content: start;
  }

}

.amazon-header-middle-section {
  /* flex: 1;
  max-width: 600px;
  margin-left: 10px;
  margin-right: 10px; */
  grid-area:search-area;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.amazon-header-right-section {
  /* width: 220px;
  flex-shrink: 0; */
  grid-area: account-details-area;
  display: flex;
  justify-content: space-around;
  gap:0.125em;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 10px;
  left: 17px;
  
  width: 26px;
  text-align: center;
}
